
section{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-warning {

    margin-left: 30px;
}

#visi{

    background-color: silver;
}

.form-label{

    font-family: Arial, Helvetica, sans-serif;
}